.container_exp{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:2rem;
}
.container_exp > div{
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;   
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);

}

.container_exp > div:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}
.container_exp > div > h3{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.exp_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
}

.exp_detail{
    display: flex;
    gap: 1rem;

}

.exp_icon{
    margin-top: 6px;
    color: var(--color-primary);

}

/* medium devices */
  
@media screen and (max-width:1024px){
    .container_exp{
        grid-template-columns: 1fr;
    }
    .container_exp > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }
    .exp_content{
        padding: 1rem;

    }
 }

  /*.....small devices.... */

  @media screen and (max-width:600px){
   
    .container_exp{
        gap:1rem;

    }
    .container_exp > div {
        width: 100%;
        padding: 2rem 1rem;
    }


 }